#tag-info {
  opacity: 0;
  transition: opacity 0.3s;
}

#part {
  vertical-align: top;
}

.panel {
  border: 1px solid #bce8f1;
  border-radius: 4px;
  margin-bottom: 20px;
}

.panel-heading {
  text-align: center;
  color: #31708f;
  background-color: #d9edf7;
  border-bottom: 1px solid #bce8f1;
}

.panel-heading,
.panel-item {
  padding: 10px 15px;
}

.panel-item {
  border-bottom: 1px solid #ddd;
}

.panel-item:last-of-type {
  border-bottom: 0;
}
